* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    min-width: 980px;
}

#head {
    position: relative;
    height: 80px;
    width: 100%;
    background-color: #522a5c;
}

#head-nav {
    position: relative;
    height: 100%;
    width: 980px;
    margin: 0 auto;
}

#head-menu {
    position: absolute;
    right: 0;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#head-menu li {
    list-style-type: none;
}

#head-menu li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin: 0 14px;
}

#head-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 980px) {
    #head-icon {
        display: none;
    }
}

#body {
    background-color: #eeeeee;
    height: 882px;
    width: 100%;
    padding: 70px 0 0 0;
}

.body-content {
    width: 980px;
    margin: 0 auto;
}

.body-article {
    float: left;
    height: 640px;
    width: 670px;
    padding: 20px;
    background-color: white;
}

.body-aside {
    float: left;
    margin-left: 10px;
    width: 260px;
}

.body-article ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -70px;
    margin-left: -20px;
}

.body-article ul li {
    list-style-type: none;
    height: 11px;
    padding: 15px 20px 20px 20px;
    border-top: solid 3px black;
    border-bottom: solid 1px #eeeeee;
    background-color: white;
}

.body-article ul li:not(:first-child) {
    margin-left: 1px;
}

.body-article ul li:first-child {
    border-bottom: solid 1px white;
}

.body-article ul li a {
    text-decoration: none;
    color: black;
}

.body-article .Masonry {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}

.body-article .Masonry .column {
    display: flex;
    flex-flow: column wrap;
    width: calc(100% / 4);
}

.body-article .Masonry .item {
    width: 160px;
    background-color: red;
}

.body-article .Masonry .item img {
    height: 100px;
    width: 100%;
}

.body-article .Masonry .item .item-main {
    overflow: hidden;
    padding: 10px;
}

.body-article .Masonry .item .item-main span {
    display: inline-block;
    height: 12px;
    width: 12px;
    text-align: center;
}

.body-article .Masonry .item .item-main .item-content {
    float: right;
    width: 118px;
}




















.body-aside div {
    background-color: white;
}


.search {
    height: 40px;
    padding: 20px;
}

.in {
    float: left;
    height: 38px;
    width: 168px;
    border: solid 1px #dddddd;
}

.go {
    font-size: 16px;
    display: inline-block;
    height: 40px;
    width: 50px;
    line-height: 40px;
    text-align: center;
    background-color: #dddddd;
    color: white;
}




.foot {
    background-color: #000;
    height: 395px;
    width: 100%;
    color: white;
}

.foot-head {
    height: 34px;
    border-bottom: solid 1px #333333;
}

.foot-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foot-menu li {
    list-style-type: none;
    line-height: 34px;
    margin: 0 12px;
}

.foot li a{
    color: white;
}

.foot-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 295px;
    font-size: 12px;
}


.foot-main div {
    width: 200px;
    height: 250px;
    font-size: 12px;
}


.foot-main div ul {
    margin-top: 30px;
}

.foot-main div h1 {
    font-size: 12px;
    margin-top: 40px;
}

.foot-main div h1 a {
    color: #cccccc;
}

.foot-main div ul li {
    list-style-type: none;
    margin: 5px 0;
}

.foot-foot {
    position: relative;
    height: 65px;
}

.foot-foot p {
    text-align: center;
}

.foot-foot img {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}
